//Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

// Third Color Scheme
$eerie-blank: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

//Font Family
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Tipography

// Font Weight
$light:300;
$regular:400;
$bold:700;

//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
