header{
    background-image: url('../images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    @media only screen and (min-width: 1200px) {
        margin-top: 4rem;
        padding: 25rem;
    }
    @media only screen and (max-width: 600px) {
        margin-top: 5rem;
        padding-bottom: 10rem;
        h1{
            margin-left: 1rem;
            padding-top: 8rem;;
        }     
    }
}